extend base

block append meta
  //- Meta Infomations
  title= meta.title
  meta(name="description", content=meta.description)
  meta(name="keywords", content=meta.keywords)

  //- Facebook OGP
  meta(name="og:title", content=meta.title)
  meta(name="og:description", content=meta.description)
  meta(name="og:type", content="website")
  meta(name="og:url", content=meta.indexUrl)
  meta(name="og:image", content=meta.ogImage)
  meta(name="og:site_name", content=meta.title)

  //- Twitter Card
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:title", content=meta.title)
  meta(name="twitter:description", content=meta.description)
  meta(name="twitter:image:src", content=meta.ogImage)

block content
  .view-wrapper: canvas#view.view
  .ui
    .ui__element
      label.ui__label(for="radiusSlider") Size
      input.ui__range#radiusSlider(type="range")
    .ui__element
      label.ui__label(for="widthSlider") Width
      input.ui__range#widthSlider(type="range")
    .ui__element
      label.ui__label Material
      .ui__radios
        input.ui__radio#platinumRadio(type="radio" name="material" value="platinum" checked)
        label.ui__radio-label(for="platinumRadio") Platinum
        input.ui__radio#goldRadio(type="radio" name="material" value="gold")
        label.ui__radio-label(for="goldRadio") Gold
        input.ui__radio#redGoldRadio(type="radio" name="material" value="red_gold")
        label.ui__radio-label(for="redGoldRadio") Red Gold
    .ui__element
      label.ui__label(for="embossText") Emboss
      input.ui__emboss#embossText(type="text" value="Emboss")
